.Header {
  
  position: sticky;
  top: 0;
  
  
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  color: orange;
  padding: 10px;
  gap: 50px;
  justify-content: flex-end;
}

.Header a {
  
  text-decoration: none;
  color: orange;
}
