.hero {
  height: 100vh; 
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  color: orange;
  scroll-behavior: smooth;

}

.hero img {
  width: 150px;
  border-radius: 50%;
}
span{
  font-size: 15px;
}